/* ALL */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* BODY & VERTICAL LAYOUT */
body {
  display: flex;
  flex-direction: column;
}

/* NAV BAR */
nav {
  background-color: rgb(248, 195, 255);
  display: flex;
  justify-content: space-between;
  padding: 0.2em;
}

/* LISTE NAV */
.navBarA {
  display: flex;
  list-style: none;
}

nav ul li a {
    background-color: rgb(188, 243, 255);
    margin: 0.2em;
}

/* MAIN */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7em;
  background-color: #f5f5f5;
}

main a {
  background-color: rgb(234, 205, 255);
  padding: 1em 2em;
}

/* FOOTER */
footer {
  background-color: rgb(113, 161, 183);
  padding: 0.5em;
  display: flex;
  justify-content: flex-end;
}

footer a {
  background-color: rgb(188, 243, 255);
  padding: 0.2em;
}